*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgb(0, 0, 0,0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color:orangered ;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform: scale(1.1);
}
span{
    color: orangered;
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a:active{
    color: orangered;
    border-bottom: 3px solid orangered;
}
.contact{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 55px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em

}
.btn-1{
padding: 15px 28px;
background-color: black;
color: white;
border: 2px solid transparent;
border-radius: 8px;
font-size: 18px;
letter-spacing: 1px;
font-weight: 600;
transition: 0.3s ease;
cursor: pointer;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.btn-2{
    padding: 15px 28px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: orangered;
}
.img-box img{
    border-radius: 50%;
    width: 550px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.60);
    width: 50px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about-img img{
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px orangered
                0 0 50px orangered;
    border-radius: 50%;

}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;

}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 35px;
    color: white;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
    transition: 0.3s ease;

}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}
.container{
    width: 100%;
    padding: 35px 10%;

}
.container{
    padding-right: calc(10%-30px);
}
main.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:20px ;
}
.col header .title{
    font-family: helvetica;
    color: orangered;
    padding: 0px 0px 20px 30px;
}
.col .contents{
    padding: 0px 30px;
    border-left: 2px solid orangered;
}
.col .contents .box{
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom:20px ;
}
.col .contents .box:hover{
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}
.col .contents .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: orangered;
    border: 2px solid white;
    /* margin-right: 150px; */
}
.box h4{
    position: relative;
    color: orangered;
}
.box h3{
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: helvetica;
    color: orangered;
}
.box p{
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}
@media(max-width:768px){
    main.row{
        grid-template-columns: 1fr;

    }
    .row .col:nth-child(2){
        margin-top:30px ;
    }
}
.contact1{
    min-height: 100vh;
    background-color: #e8f0f6;
    padding: 50px;
    text-align: center;
}
.container1{
    max-width: 800px;
    margin: 0 auto;
}
.container1 h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;

}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.contact-form{
    text-align: left;

}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.form-group{
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 10%;
}
button:hover{
    background-color: white;
    color: black;

}
.contact-info{
    text-align: left;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.contact-info p{
    margin-bottom: 10px;
    color: #555;
}
.contact-info i{
    color: #4caf50;
    margin-right: 10px;

}
@media screen and(max-width:768px){
    .container1{
        padding: 20px;

    }
    .contact-wrapper{
        grid-template-columns: 1fr;
    }
}